*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root{
    --p_c: #646363;
    --s_c: #696969;
    --blk_c: black;
    --wht_c: #dfdfdf;

}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--wht_c);
}

header{
    width: 100%;
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    width: 10vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 30px #ffffff33;
}

header .logo img{
    width: 100%;
    border-radius: 50%;
}

header .menu{
    min-width: 400px;
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .menu a{
    color: var(--wht_c);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.3rem 0.7rem;
    border-radius: 3px;
}

header .menu a:hover{
    background-color: var(--s_c);
    color: var(--wht_c);


}

.outer_container{
    width: fit-content;
    height: fit-content;
    margin: 2rem auto;
    padding: 10px;
    background-color: var(--s_c);
    border-radius: 0.6rem;
    box-shadow: 0px 15px 30px 0px #00000033;
}

.main_container{
    width: fit-content;
    height: fit-content;
    background-color: var(--p_c);
    border: 1px solid #424242;
    user-select: none;

}

.row{
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_0{
    margin-bottom: 8px;
}

.btn{
    width: 50px;
    height: 48px;
    margin: 1px;
    background-color: #838383;
    color: var(--wht_c);
    cursor: pointer;
    border-radius: 3px;
    border-color: #777777;
    box-shadow: 0px 19px 30px rgb(0 0 0 / 20%), inset 10px 20px 30px rgb(0 0 0 / 20%), inset 5px 6px 10px rgb(0 0 0 / 20%);

}

.row_0 .btn{
  height: 30px;
  margin-right: 0px !important;
}

.row_0 .btn_:nth-child(2){
    visibility: hidden;
}

.row_0 .btn_:nth-child(7){
    width: 26px !important;
    visibility: hidden;
}
.row_0 .btn_:nth-child(12){
    width: 26px !important;
    visibility: hidden;
}

.btn_Backspace{
    width: 100px;
}

.btn_Tab{
    width: 75px;
}

.btn_\\{
    width: 75px;
}

.btn_Caps{
    width: 87.5px;
}

.btn_Enter{
    width: 112.5px;
}

.row_4 .btn_Shift:nth-child(1){
    width: 112.5px;
}

.row_4 .btn_Shift:nth-last-child(1){
    width: 137.5px;
}

.btn_Ctrl,.btn_Win,.btn_Alt{
    width: 62.5px;
}

.btn_Space{
    width: 312.5px;

}

footer{
    width: 100%;
    height: 10vh;
    padding: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    bottom: 0px;
    color: var(--p_c);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .copy,.info{
    width: fit-content;
}

footer a{
    color: var(--p_c);
}